# CMake files
*.txt.user*
build/

# Vim files
*.swp

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


#vs
x64/
Release/
Debug/
vc/Chip8/x64/
vc/Chip8/SDL/x64/
vc/Chip8/Test/x64/
vc/Chip8/Release/
vc/Chip8/SDL/Release/
vc/Chip8/Test/Release/
vc/Chip8/Debug/
vc/Chip8/SDL/Debug/
vc/Chip8/Test/Debug/